$dark-background-color: #1f2937;
$navigation-link-color: #e5e7eb;
$navigation-link-font-size: 18px;
$navigation-logo-color: #f9faf8;
$navigation-logo-font-size: 24px;
$navigation-logo-font-weight: 900;

$hero-main-color: #f9faf8;
$hero-main-font-size: 48px;
$hero-main-font-weight: 900;
$hero-secondary-color: #f9faf8;
$hero-secondary-font-size: 18px;
$button-background-color: #6175f2;

$information-header-color: #1f2937;
$information-header-font-size: 36px;
$information-header-font-weight: 800;

$quote-background-color: #e5e7eb;
$quote-color: #1f2937;
$quote-font-size: 36px;
$quote-font-style: italic;
$quote-font-weight: 300;

$call-to-action-background-color: #3882f6;

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  width: 1280px;
}

#navigation-container {
  background-color: $dark-background-color;
  display: flex;
  justify-content: center;
  padding: 0 0 2.5rem 0;

  > #navigation {
    > ul {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: center;

      > li#logo {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: auto;
        > a {
          color: $navigation-logo-color;
          font-size: $navigation-logo-font-size;
          font-weight: $navigation-logo-font-weight;
        }
      }
      > li {
        > a {
          color: $navigation-link-color;
          font-size: $navigation-link-font-size;
          text-decoration: none;
        }
      }
    }
  }
}

#hero-container {
  background-color: $dark-background-color;
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;

  > #hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 0 0 40%;

      > h1 {
        line-height: 3rem;
        margin: 0 0 0.5rem 0;
        color: $hero-main-color;
        font-size: $hero-main-font-size;
        font-weight: $hero-main-font-weight;
      }

      > p {
        margin: 0;
        color: $hero-secondary-color;
        font-size: $hero-secondary-font-size;
        margin: 0 0 0.5rem 0;
      }

      > button {
        background-color: $button-background-color;
        color: $hero-secondary-color;
        font-size: $hero-secondary-font-size;
        border-color: $button-background-color;
        padding: 0.25rem;
        width: 10ch;
        border-radius: 0.75rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    > div:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 40%;
    }
  }
}

#information-container {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;

  > #information {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h2 {
      color: $information-header-color;
      font-size: $information-header-font-size;
      font-weight: $information-header-font-weight;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 2rem;

      > div {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        > p {
          text-align: center;
        }
      }
    }
  }
}
